.icons-section {
    margin: 20px 0;
    /* border: 1px solid #000; */
}

.containerSkill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 10px;
    /* border: 1px solid #000; */
}

@media screen and (max-width: 1440px) {
    .icons-section {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .icons-section {
        flex-wrap: wrap;
    }
    .icons-section img {
        width: 50px;
        height: auto;
    }
}